@charset "UTF-8";
/* CSS Document */

/* 

SECTIONS
1. Global Styles
2. Mobile
3. Tablet
4. Desktop

COLORS 
Almost White: #f8f8ff
Dark Green: #003300
Medium Green: #1aff1a
Light Green: #4dff4d
Orange: #ffaf1a

*/

/* ----------- GLOBAL STYLES ----------- */ 
body {
	background-color: #f8f8ff;
	width: 100%;
	padding: 0;
	margin: 0 auto;
}


/* ----- HEADER ----- */

header {
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: baseline;
	border-bottom: 2px solid #494949;

}



/* MAIN NAVIGATION */

#MainNav {    /* Home, Projects, Contact */
	padding-left: 350px;
	margin: 25px;
}

#MainNav ul {
	display: flex;
	justify-content: space-between;
}

/* Removes Nav List style */
#MainNav ul li {
	list-style: none;
	display: inline-block;
}

#MainNav li a {
	text-decoration: none;
	font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400; 
	font-style: normal;
	font-size: 1.2em;
	color: #000000;
}

#MainNav li a:hover {
	color: #e4d0d0;
}

/* ----- CONTENT ---- */

main section {
	display: block;
	width: 100%;
}

.SectionTitle {
	padding: 30px;
	padding-left: 100px;
	display: block;
	font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 100;
	font-size: 2em;
	letter-spacing: 1em;
	text-align: center;
	color: #1a1a1a;
}




/* ABOUT */

#About {
	height: 350px;
	letter-spacing: 0.5em;
}

#ProfileImage {
	width: 200px;
	display: block;
 	border-radius: 125px;
 	-webkit-border-radius: 125px;
 	-moz-border-radius: 125px;
	margin: 0 auto;
	border: solid;
	border-color: #ffffff;
	border-width: 2px;	
}


/* PROJECTS */
#Projects {   /* Manipulate Bottom */
	width: 100%;
	overflow: hidden;
	margin-bottom: 100px;
}

#Projects ul {
	display: flex;
	width: 80%;
	flex-wrap: wrap;
	justify-content: center;
}

#Projects ul li:first-child {
	width: 90%;
}

#Projects ul li:first-child a {
	height: 300px;
}

#Projects ul li:not(:first-child) {
	height: 500px;
}


#Projects ul li {
	list-style: none;
	width: 800px;
	overflow: hidden;
	padding: 20px;
}

#Projects ul li a {
	height: 500px;
	display: block;
	overflow: hidden;
	background-color: black;
	box-shadow: 2px 2px 5px #494747;
}

#Projects ul li img { /* Projects Opacity */
	width: 100%;
	filter: opacity(80%);
}

#Projects ul li img:hover { /* Projects Hover */
	filter: none;
}

.ProjectTitle {
	position: absolute;
	z-index: 100;
	padding: 8px;
	height: 20px;
	display: inline-block;
	background-color: #f8f8ff;
	overflow: hidden;
	color: #000000;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 600;
	font-size: 1em;
	text-align: left;
	filter: drop-shadow(2px 0px 4px rgb(160, 160, 160));
	letter-spacing: 0.23em;
}

/* CONTACT */

footer {
	background-color: #dbdadafd;
	border-top: 2px solid #ffffff;
	height: 300px;
}

footer ul { /* LinkedIn and Email Positioning */
	list-style: none;
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

footer ul li { /* LinkedIn and Email Alignment */
	text-align: center;
	padding-left: 60px;
}

footer ul a {      /* LinkedIn and Email Style */
	text-decoration: none;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"; 
	font-weight: 400; 
	font-style: normal;
	letter-spacing: 0.1em;
	font-size: 1.2em;
	line-height: 1.9em;
	color: #858484;
}

footer ul a:hover {  /* LinkedIn and Email Hover */
	color: #221e1e;
}





/* 1111 FOR MOBILE ==> MOBILE STYLES ------------------------------------------------------------------------------*/

@media only screen and (max-width: 480px) {
	body {
		min-width: 418px;
	}
	}
	
	/* ----- HEADER ----- */
	header {
		flex-direction: column;
		width: 100%;
		padding: 0;
		margin: 0 auto;
	}
	
	header h1 {
		width: 100%;
	}
	
	/*MAIN NAVIGATION*/
	
	#MainNav {
		width: 100%;
		padding: 0;
		margin: 0 auto;
	}
	
	#MainNav ul {
		padding: 0;
		margin: 25px;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	#MainNav ul li {
		list-style: none;
		text-align: center;
		display: block;
		padding: 5px;
	}
	
	/* ----- CONTENT ---- */
	
	/* ABOUT */
	
	section {
		width: 100%;
	}
	
	/* PROJECTS */
	#Projects ul {
		padding: 0 ;
		margin: 0 auto;
	}
	
	
	#Projects ul li:first-child {
		width: 100%;
	}

	#Projects ul li:first-child a {
		height: 250px;
		letter-spacing: 0.9em;
	}

	/* FOOTER */
	
	
	
}

/* 2222 FOR TABLETS ==> TABLET STYLES ------------------------------------------------------------------------------*/

@media only screen and (min-width: 481px) and (max-width: 768px) {
	

	
	/* ----- HEADER ----- */
	
	/*MAIN NAVIGATION*/
	
	#MainNav {
		width: 100%;
		padding: 0;
		margin: 0 auto;
	}
	
	#MainNav ul {
		padding: 0;
		margin: 25px;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	#MainNav ul li {
		list-style: none;
		text-align: center;
		display: block;
		padding: 5px;
	}
	
	
	/* ----- CONTENT ---- */
	
	/* ABOUT */
	
	section {
		width: 50%;
	}
	
	/* PROJECTS */
	#Projects ul {
		padding: 0 ;
		margin: 0 auto;
	}
	
	
	#Projects ul li:first-child {
		width: 100%;
	}

	#Projects ul li:first-child a {
		height: 350px;
	}
	
	/* Added for tablet */
	#Projects ul li {
		width: 40%;
	}
	
	#Projects ul li:not(:first-child) {
		height: 110px;
	}	
	
	#Projects ul li a {
		height: 120px;
	}
	
}
	
	
	/* ----- CONTENT ---- */
	
	/* ABOUT */
	
	section {
		width: 50%;
	}
	
	/* PROJECTS */
	#Projects ul {
		padding: 0 ;
		margin: 0 auto;
	}
	
	
	#Projects ul li:first-child {
		width: 100%;
	}

	#Projects ul li:first-child a {
		height: 350px;
	}
	
}

/* FOR DESKTOP ==> DESKTOP STYLES ------------------------------------------------------------------------------*/

@media only screen and (min-width: 769px) {
	body {
		min-width: 800px;
	}
	
	
	/* MAIN NAVIGTION */
	#MainNav {
		padding-right: 50px;
		width: 60%;
	}
		
	#MainNav ul {
		flex-wrap: wrap;
	}			
	
	/* ----- CONTENT ---- */
	
	/* PROJECTS */
	
	#Projects ul {
		padding: 0;
		margin: 0 auto;
	}
	
	#Projects ul li:first-child {
		width: 100%;
	}

	#Projects ul li:first-child a {
		height: 450px;
	}
	/* adjusted for desktop */
	#Projects ul li:not(:first-child) {
		height: 230px;
	}	
	
	#Projects ul li a {
		height: 230px;
	}
	
}